// ==================================================================================
// _base.scss
// ==================================================================================
body {
    font-family: $fontPrimary;
    font-size: pxToRem(15);
}

p {
    margin-bottom: 20px;
    line-height: 20px;
}