.input-notice {
    display: block;
    color: #ac0c0c;
    background-color: #fff2f2;
    border: 1px solid #ffd3d3;
    border-radius: .3rem;
    padding: 10px;
    font-size: 13px;
}

.input-error {
    background-color: #fffafa;
    border-color: #ffb5b5;
}

.form-notice {
    display: block;
    background-color: #ffdce0;
    border: 1px solid #f0cfd3;
    color: #8d2a3d;
    padding: 20px;
    border-radius: .3rem;
}

.simple-notice {
    border: 1px solid #eeee;
    padding: 40px;
    border-radius: .5rem;

    &--success {
        background-color: #d9ffd9;
        border-color: #90db90;
    }
}