.form-notice {
    display: block;
    color: #ac0c0c;
    background-color: #fff2f2;
    border: 1px solid #ffd3d3;
    border-radius: .3rem;
    padding: 10px;
    font-size: 13px;
}

.input-error {
    background-color: #fffafa;
    border-color: #ffb5b5;
}