.credentials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff7e5;
    border: 1px solid #ffdca6;
    padding: 20px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__container+&__container {
        border-top: 1px solid #ffdca6;
        padding-top: 10px;
    }

    &__row {
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-weight: bold;
    }
}